@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.CheckBoxListViewModel
<div class="field-group">
    <label class="@Model.LabelCssClass">@Html.DisplayTextFor(t => Model.Title)</label>
    <input type="hidden" name="@Html.NameFor(m => Model.Value)" />
    @foreach (var item in Model.Items)
    {
    <label class="checkcontainer">
        <input type="checkbox" name="@Html.NameFor(m => Model.Value)" @if (item.Selected)
               {<text> checked</text>} value="@item.Value" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value)/>@item.Text
                <span class="checkmark"></span>
    </label>
    }
    @Html.ValidationMessageFor(m => Model.Value)
</div>