@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.DateViewModel
<div class="field-group">
    <label for="@Html.IdFor(m => Model.Value)" class="@Model.LabelCssClass">@Html.DisplayTextFor(t => Model.Title)</label>
    <input type="date" id="@Html.IdFor(m => Model.Value)" @if (Model.Min.HasValue)
           {<text> min="@Model.Min.Value.ToString(Model.DateFormat)"</text>}@if (Model.Max.HasValue)
    {<text> max="@Model.Max.Value.ToString(Model.DateFormat)"</text>}@if (Model.Value.HasValue)
    {<text> value="@Model.Value.Value.ToString(Model.DateFormat)"</text>} name="@Html.NameFor(m => Model.Value)" class="@Model.CssClass" 
           data-sc-tracking="@Model.IsTrackingEnabled" 
           data-sc-field-name="@Model.Name" 
           data-sc-field-key="@Model.ConditionSettings.FieldKey"
           @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value)/>
    @Html.ValidationMessageFor(m => Model.Value)
</div>