@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.PasswordConfirmationViewModel
<div class="field-group">
    <label for="@Html.IdFor(m => Model.Value)" class="@Model.LabelCssClass">@Model.Title</label>
    <input id="@Html.IdFor(m => Model.Value)" name="@Html.NameFor(m => Model.Value)" class="@Model.CssClass" type="password" value="@Model.Value" placeholder="@Model.PlaceholderText" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey"  @Html.GenerateUnobtrusiveValidationAttributes(m=> Model.Value)/>
    @Html.ValidationMessageFor(m => Model.Value)
    <label for="@Html.IdFor(m => Model.ConfirmPassword)" class="@Model.LabelCssClass">@Model.ConfirmPasswordLabel</label>
    <input id="@Html.IdFor(m => Model.ConfirmPassword)" name="@Html.NameFor(m => Model.ConfirmPassword)" class="@Model.CssClass" type="password" placeholder="@Model.ConfirmPasswordPlaceholder" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey"  @Html.GenerateUnobtrusiveValidationAttributes(m=> Model.ConfirmPassword)/>
    @Html.ValidationMessageFor(m => Model.ConfirmPassword)
</div>