@model Sitecore.Feature.Demo.Models.PersonalInfo

<div class="panel panel-primary">
    <div class="panel-heading" role="tab">
        <h3 class="panel-title">
            <a role="button" href="#personalInfoPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
                <span class="fa fa-user"></span>
                @Sitecore.Globalization.Translate.Text("PersonalInformation")
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
            </a>
        </h3>
    </div>
    <div id="personalInfoPanel" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="media-body ">
                    <h4 class="media-title">
                        @if (!string.IsNullOrWhiteSpace(Model.FullName))
                        {
                            @Model.FullName
                        }
                        else if (Model.IsIdentified)
                        {
                            @Sitecore.Globalization.Translate.Text("YouAreKnown")
                        }
                        else
                        {
                            @Sitecore.Globalization.Translate.Text("YouAreAnonymous")
                        }
                    </h4>
                    @if (Model.PhotoUrl != null)
                    {
                        <div>
                            <img src="@Model.PhotoUrl" width="50" />
                        </div>
                    }
                    <dl class="small">
                        @foreach (var property in Model.Properties)
                        {
                            <dt>@property.Key</dt>
                            <dd>@property.Value</dd>
                        }
                    </dl>
                </div>
            </div>
            @if (Model.Location != null)
            {
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-globe"></span>
                    </div>
                    <div class="media-body ">
                        <h4 class="media-title">
                            @Sitecore.Globalization.Translate.Text("Location")
                        </h4>
                        <dl>
                            @if (!string.IsNullOrEmpty(Model.Location.City) || !string.IsNullOrEmpty(Model.Location.Region) || !string.IsNullOrEmpty(Model.Location.Country))
                            {
                                <dt>@Sitecore.Globalization.Translate.Text("Place")</dt>
                                <dd>@string.Join(", ", Model.Location.City, Model.Location.Region, Model.Location.Country)</dd>
                            }

                            @if (!string.IsNullOrEmpty(Model.Location.BusinessName))
                            {
                                <dt>@Sitecore.Globalization.Translate.Text("Business")</dt>
                                <dd>@Model.Location.BusinessName</dd>
                            }

                            @if (!string.IsNullOrEmpty(Model.Location.Url))
                            {
                                <dt>@Sitecore.Globalization.Translate.Text("Url")</dt>
                                <dd><a href="@Model.Location.Url">@Model.Location.Url</a></dd>
                            }

                            @if (!string.IsNullOrEmpty(Model.Location.Latitude) && !string.IsNullOrEmpty(Model.Location.Longitude))
                            {
                                <dt>@Sitecore.Globalization.Translate.Text("Map")</dt>
                                <dd><a href="https://maps.google.com/?q=@Model.Location.Latitude,@Model.Location.Longitude" target="_blank">@Sitecore.Globalization.Translate.Text("MapLink")</a></dd>
                            }
                        </dl>
                    </div>
                </div>
            }
            @if (Model.Device != null)
            {
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-tablet"></span>
                    </div>
                    <div class="media-body ">
                        <h4 class="media-title">
                            @Sitecore.Globalization.Translate.Text("Device")
                        </h4>
                        <div class="text-nowrap">
                            <dl>
                                <dt>@Sitecore.Globalization.Translate.Text("Device")</dt>
                                <dd>@Model.Device.Title</dd>
                                <dt>@Sitecore.Globalization.Translate.Text("Browser")</dt>
                                <dd>@Model.Device.Browser</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>