@using Sitecore.HabitatHome.Foundation.Dictionary.Extensions
@model Sitecore.HabitatHome.Feature.Demo.Models.ExperienceData

@if (Model != null)
{
<div class="off-canvas-sidebar off-canvas-sidebar-right" id="sidebar">             
    <div class="btn-group-vertical hover" role="group">
        <button type="button" class="btn btn-info sidebar-closed" data-toggle="sidebar" title="@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/Open Visit Details Panel", "Open visit details panel")" data-side="right">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-info btn-lg sidebar-opened" style="display: none" data-toggle="sidebar" title="@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/Close Visit Details Panel", "Close visit details panel")" data-side="right">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span class="hover-only">@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/Close Label", "Close")</span>
        </button>
        <button href="#" style="display: none" class="btn btn-success refresh-sidebar sidebar-opened" title="@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/Refresh Visit Details", "Refresh visit details panel")">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span class="hover-only">@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/Refresh Label", "Refresh")</span>
        </button>
        <button href="#" class="btn btn-danger end-visit sidebar-opened" style="display: none" title="@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/End Visit", "End the current visit and submit it to the Sitecore Experience Database")">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            <span class="hover-only">@Html.Sitecore().Dictionary("/Demo/ExperiencePanel/End Visit Label", "End Visit")</span>
        </button>
    </div>

    <div class="sidebar sidebar-fixed-right">
        @if (!Sitecore.Context.PageMode.IsExperienceEditor)
        {
            @Html.Partial("_ExperienceDataContent", Model)
        }
    </div>
</div>
}