@using System.Web.Mvc.Html
@using Sitecore.Foundation.Alerts.Models
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.EditProfile

@{
    var info = Session.GetAndRemove("EditProfileMessage") as InfoMessage;
    if (info != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
    }
    var passwordInfo = Session.GetAndRemove("ChangePasswordMessage") as InfoMessage;
    if (passwordInfo != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, passwordInfo);
    }
}
<div class="myAccount-page col-sm-9 col-md-8 col-md-offset-1">
    <div class="row">
        <div class="infoPanel col-sm-6">
            <div class="infoPanel-title">
                <div class="infoPanel-title-text">Profile</div>
            </div>
            <div class="infoPanel-display">
                <div class="infoPanel-display-text">
                    <strong>@string.Format("{0} {1}", Model.FirstName, Model.LastName)</strong>
                </div>
                <div class="infoPanel-display-text">@Model.Email</div>
            </div>
        </div>
        <div class="infoPanel col-sm-6" id="addressesSection">
            <div class="infoPanel-title">
                <div class="infoPanel-title-text">@DictionaryPhraseRepository.Current.Get("/Accounts/Edit Profile/Interests", "Interests")</div>
            </div>
            <div class="infoPanel-display" data-bind="visible: isEmpty">
                <div class="infoPanel-display-text" id="addressesEmpty" data-bind="visible: isEmpty" style="">
                    @if (string.IsNullOrWhiteSpace(Model.Interest))
                    {
                        @DictionaryPhraseRepository.Current.Get("/Accounts/Edit Profile/No Interests", "No interests yet")
                    }
                    else
                    {
                        @Model.Interest
                    }
                </div>
            </div>
        </div>
    </div>
</div>