@using System.Web.Mvc.Html
@using Sitecore.HabitatHome.Foundation.Alerts.Models
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@model Sitecore.HabitatHome.Feature.Accounts.Models.EditProfile

@{
    var info = Session.GetAndRemove("EditProfileMessage") as InfoMessage;
    if (info != null)
    {
        Html.RenderPartial(Sitecore.HabitatHome.Foundation.Alerts.Constants.InfoMessageView, info);
    }
    var passwordInfo = Session.GetAndRemove("ChangePasswordMessage") as InfoMessage;
    if (passwordInfo != null)
    {
        Html.RenderPartial(Sitecore.HabitatHome.Foundation.Alerts.Constants.InfoMessageView, passwordInfo);
    }
}
<div class="myAccount-page">
    <div class="infoPanel">
        <div class="infoPanel-display">
            <div class="infoPanel-display-text">
                <strong>@string.Format("{0} {1}", Model.FirstName, Model.LastName)</strong>
            </div>
            <div class="infoPanel-display-text">@Model.Email</div>


            <div class="facet-data">
                @if (!string.IsNullOrEmpty(Model.SportName))
                {
                    <b>@Sitecore.HabitatHome.Feature.Accounts.Models.EditProfile.FitnessActivityCaption:</b><br />
                    @Model.SportName
                }
                @if (!string.IsNullOrEmpty(Model.SportType))
                {
                    <span>(@Model.SportType)</span>
                }
            </div>
        </div>
    </div>

</div>