@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Sitecore.HabitatHome.Foundation.Alerts.Models
@using Sitecore.HabitatHome.Foundation.Dictionary.Extensions
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model Sitecore.HabitatHome.Feature.Accounts.Models.ChangePasswordInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.Sitecore().FormHandler()

    <div class="form-group @Html.ValidationErrorFor(x => x.Password, "has-error")">
        @Html.LabelFor(x => x.Password, new
        {
            @class = "control-label"
        })


        @Html.PasswordFor(x => x.Password, new
        {
            @class = "form-control",
            id = "registerPassword",
            @placeholder = Html.Sitecore().Dictionary("/Accounts/Register/Register Password Placeholder", "Please enter your password")
        })
        @Html.ValidationMessageFor(x => x.Password, "", new
        {
            @class = "help-block"
        }, "p")
    </div>
    <div class="form-group @Html.ValidationErrorFor(x => x.NewPassword, "has-error")">
        @Html.LabelFor(x => x.NewPassword, new
        {
            @class = "control-label"
        })


        @Html.PasswordFor(x => x.NewPassword, new
        {
            @class = "form-control",
            id = "registerPassword",
            @placeholder = Html.Sitecore().Dictionary("/Accounts/Register/Register Password Placeholder", "Please enter your new password")
        })
        @Html.ValidationMessageFor(x => x.NewPassword, "", new
        {
            @class = "help-block"
        }, "p")
    </div>
    <div class="form-group @Html.ValidationErrorFor(x => x.ConfirmPassword, "has-error")">
        @Html.LabelFor(x => x.ConfirmPassword, new
        {
            @class = "control-label"
        })

        @Html.PasswordFor(x => x.ConfirmPassword, new
        {
            @class = "form-control",
            id = "registerConfirmPassword",
            @placeholder = Html.Sitecore().Dictionary("/Accounts/Register/Register Confirm Password Placeholder", "Please confirm you new password")
        })
        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new
        {
            @class = "help-block"
        }, "p")
    </div>

    <input type="submit" class="btn btn-primary btn-lg btn-block" value="@Html.Sitecore().Dictionary("/Accounts/Forgot Password/Change Password", "Change password")" />
    
}