@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Sitecore.Demo.Platform.Foundation.Dictionary.Extensions
@using Sitecore.Demo.Platform.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model Sitecore.Demo.Platform.Feature.Accounts.Models.EditProfile

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
                                                                            {
                                                                                @class = "form-signin"
                                                                            }))
{
    @Html.AddUniqueFormId()

    <div class="form-group @Html.ValidationErrorFor(x => x.Email, "has-error")">
        @Html.LabelFor(x => x.Email, new
        {
            @class = "control-label",
            @for = "email"
        })

        @Html.TextBoxFor(x => x.Email, new
        {
            @class = "form-control",
            id = "email",
            @Value = Model.Email,
            @readonly="readonly",
        })
    </div>


    <div class="form-group @Html.ValidationErrorFor(x => x.FirstName, "has-error")">
        @Html.LabelFor(x => x.FirstName, new
        {
            @class = "control-label",
            @for = "firstName"
        })

        @Html.TextBoxFor(x => x.FirstName, new
       {
           @class = "form-control",
           id = "firstName",
           @Value = Model.FirstName
       })

        @Html.ValidationMessageFor(x => x.FirstName, "", new
        {
            @class = "help-block"
        }, "p")
    </div>

    <div class="form-group @Html.ValidationErrorFor(x => x.LastName, "has-error")">
        @Html.LabelFor(x => x.LastName, new
        {
            @class = "control-label",
            @for = "lastName"
        })

        @Html.TextBoxFor(x => x.LastName, new
        {
            @class = "form-control",
            id = "lastName",
            @Value = Model.LastName
        })

        @Html.ValidationMessageFor(x => x.LastName, "", new
        {
            @class = "help-block"
        }, "p")
    </div>

    <div class="form-group @Html.ValidationErrorFor(x => x.PhoneNumber, "has-error")">
        @Html.LabelFor(x => x.PhoneNumber, new
        {
            @class = "control-label",
            @for = "phoneNumber"
        })

        @Html.TextBoxFor(x => x.PhoneNumber, new
        {
            @class = "form-control",
            id = "phoneNumber",
            @Value = Model.PhoneNumber
        })

        @Html.ValidationMessageFor(x => x.PhoneNumber, "", new
        {
            @class = "help-block"
        }, "p")
    </div>

    @*<div class="form-group @Html.ValidationErrorFor(x => x.Interest, "has-error")">
        @Html.LabelFor(x => x.Interest, new
        {
            @class = "control-label",
            @for = "interests"
        })

        @Html.DropDownListFor(x => x.Interest, new SelectList(Model.InterestTypes), "", new
        {
            @class = "form-control",
            id = "interests"
        })

        @Html.ValidationMessageFor(x => x.Interest, "", new
        {
            @class = "help-block"
        }, "p")
    </div>*@

    <input type="submit" class="btn btn-primary btn-lg btn-block" value="@Html.Sitecore().DictionaryField("/Accounts/Edit Profile/Update", "Update")"/>
}