@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions

@model Component

@{ 
    
  var style = Model.ImageField.ImageUrl().ToCssUrlValue();
}
<div class="jumbotron jumbotron-fluid" style="background-image:@style">
    <div class="container">
        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Title))
        {
            <h1 class="display-4">@Html.Sitecore().Edit(Model, m => m.Title)</h1>
        }
        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Subtitle))
        {
            <h4>@Html.Sitecore().Edit(Model, m => m.Subtitle)</h4>
        }
        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Lead))
        {
            <p class="lead">@Html.Sitecore().Edit(Model, m => m.Lead)</p>
        }

        @if (Model.TargetPage != null)
        {
            <a href="@Model.TargetPage.Url" class="btn btn-info">Read More</a>
        }
        else  if (Model.TargetUrl != null && !string.IsNullOrEmpty(Model.TargetUrl.GetFriendlyUrl()))
        {
            <a href="@Model.TargetUrl.GetFriendlyUrl()" class="btn btn-info">Read More</a>
        }
    </div>
</div>