@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.HabitatHome.Feature.Components.Models.Metadata

@{
    var settings = new Site().GetSettings<Settings>();
}

@* Favicon *@
<link rel="icon" type="image/png"  href="@MediaManager.GetMediaUrl(settings.Favicon)">

@if (!string.IsNullOrEmpty(Model.MetadataDescription))
{
    <meta name="description" content="@Model.MetadataDescription">
}
@if (!string.IsNullOrEmpty(Model.MetadataKeywords))
{
    <meta name="keywords" content="@Model.MetadataKeywords">
}

@if (!string.IsNullOrEmpty(Model.MetadataTitle))
{
    <meta property="og:title" content="@Model.MetadataTitle" />
}
@if (!string.IsNullOrEmpty(Model.MetadataDescription))
{
    <meta property="og:description" content="@Model.MetadataDescription" />
}

@*Browser title gets suffixed with the title of the site*@
<title>@Model.MetadataTitle - @settings.Title</title>