@using Sitecore.HabitatHome.Feature.Components.Models
@model Sitecore.HabitatHome.Feature.Components.Models.Metadata

@if (!string.IsNullOrEmpty(Model.MetadataDescription))
{
    <meta name="description" content="@Model.MetadataDescription">
}
@if (!string.IsNullOrEmpty(Model.MetadataKeywords))
{
    <meta name="keywords" content="@Model.MetadataKeywords">
}

@if (!string.IsNullOrEmpty(Model.MetadataTitle))
{
    <meta property="og:title" content="@Model.MetadataTitle" />
}
@if (!string.IsNullOrEmpty(Model.MetadataDescription))
{
    <meta property="og:description" content="@Model.MetadataDescription" />
}

@*Browser title gets suffixed with the title of the site*@
<title>@Model.MetadataTitle - @(new Site().GetSettings<Settings>().Title)</title>