@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.Resources.Media

@model Component

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="@Model.Site.Home.Url">
            <img src="@MediaManager.GetMediaUrl(Model.Site.GetSettings<Settings>().Brand))">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mr-auto">
                @foreach (var component in Model.GetChildren<Component>())
                {
                    var subComponents = component.GetChildren<Component>();
                    if (subComponents.Any())
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="@component.Item.ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@component.Title</a>
                            <div class="dropdown-menu" aria-labelledby="@component.Item.ID">
                                @foreach (var subComponent in subComponents)
                                {
                                    <a class="dropdown-item" href="@subComponent.Url">@subComponent.Title</a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@component.Url">@component.Title</a>
                        </li>
                    }
                }
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!-- TODO: Get search placeholder from CMS -->
                <!-- TODO: Implement search -->
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>