@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@model Component

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="@Model.Site.Home.Url">
            @Html.Sitecore().Edit(Model.Site.GetSettings<Settings>(), m => m.Logo)
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mr-auto">
                @foreach (var component in Model.GetChildren<Component>())
                {
                    var subComponents = component.GetChildren<Component>();
                    if (subComponents.Any())
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="@component.Item.ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@component.Title</a>
                            <div class="dropdown-menu" aria-labelledby="@component.Item.ID">
                                @foreach (var subComponent in subComponents)
                                {
                                    <a class="dropdown-item" href="@subComponent.Url">@subComponent.Title</a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@component.Url">@component.Title</a>
                        </li>
                    }
                }
            </ul>
            @Html.Sitecore().Placeholder("hh-corporate-utility-navigation")
        </div>
    </div>
</nav>