@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.HabitatHome.Foundation.Dictionary.Extensions
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@model Component


<div class="container">
    <div class="row">
        @foreach (var component in Model.GetChildren<Component>())
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="@component.TargetPage.Url">
                       @Html.Sitecore().Edit(component, c => c.Image, new { @class = "card-img-top", mw = "500" })
                    </a>
                    <div class="card-body text-center">
                        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(component.Title))
                        {
                            <h5 class="card-title mb-0">@Html.Sitecore().Edit(component, c => c.Title)</h5>
                        }
                        @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(component.Subtitle))
                        {
                            <div class="card-text text-black-50">@Html.Sitecore().Edit(component, c => c.Subtitle)</div>
                        }
                    </div>
                    <div class="card-body text-center">
                        <a href="@component.TargetPage.Url" class="link_arrow">
                            @Html.Sitecore().Dictionary("/Buttons/Read More", "Read More")
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>